body{
	background: #FFFFFF;
	font-family: Roboto slab;
	font-weight : 400;
	color: #333333;

}

h1{
	color:#3FA7D6;
	font-family: Roboto;
	font-weight: 700;

}

h2 {
	font-family: Roboto;
	font-weight: 500;
	color: #3FA7D6;

}

a{
	color: green;
	text-decoration: none;
	transition: color 0,3s ease;

}

a:hover{
	color: green;
	text-decoration: none;

}

.container{
	width: 700px; 
	margin: 40px auto;

}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;

}
.img-circle {
	border-radius: 50%

}

.btn-blue {
	background-color: green;
	padding: 10px 15px;
	border-radius: 4px;
	color: white;

}

.btn-blue:hover {
	color: white;
	background-color: black;

}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color:black;
}

#intro p {
	margin-bottom: 40px;
}

@media (max-width: 960px) {
	.container{
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container{
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container{
		width: 300px;
	}
}